@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); */



:root {
    --para: 1.25rem;
}

/* ::-webkit-scrollbar {
    width: 0.25em;
    border-radius: 100vw;
}

::-webkit-scrollbar:hover {
    width: 0.35em;
    border-radius: 100vw;
}

::-webkit-scrollbar-track {
    background: #FFFFF0;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #E9C279;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #ca8e0e;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        max-width: 100vw;
        overflow-x: hidden;
        /* font-family: 'Inria Serif', serif; */
    }

    .bg-gradient {
        background-image: linear-gradient(108deg, #C79D4F 22%, #FAD694 55%, #FAD694 55%, #E9C279 80%);
        /* background: #C79D4F; */
    }

    /* .bg-gradient {
        background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    } */

    /* .bg-gradient:hover {
        background: radial-gradient(ellipse farthest-corner at left top, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        color: White;
    } */

    .text-gradient {
        /* background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        text-shadow: 0 0 1px #b399309e; */

        background: radial-gradient(circle at 50% 50%,
                #FFD700 0%,
                #FFAC33 50%,
                #FF8000 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: 0 0 1px #ffd90043;

        /* @apply text-navy; */
    }

    /* .filter-black {
        filter: brightness(0) saturate(100%) invert(0%) sepia(82%) saturate(7492%) hue-rotate(123deg) brightness(77%) contrast(93%);
        } */
    body {
        font-family: 'Inria Serif', serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Playfair Display', serif;
    }

    p,
    span,
    label,
    a,
    input,
    textarea,
    button,
    ul,
    li {
        font-family: 'Inria Serif', serif;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    p {
        font-size: var(--para-size);
    }


    @keyframes arrow-up {
        0% {
            transform: translateY(0) rotate(-90deg);
        }

        50% {
            transform: translateY(-5px) rotate(-90deg);
        }

        100% {
            transform: translateY(-10px) rotate(-90deg);
        }
    }

    .animate-arrow-up {
        transform: rotate(-90deg);
        animation: arrow-up 1s infinite alternate;
    }



    @keyframes bannermove {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .animation-paused {
        animation-play-state: paused;
    }

    .photobanner {
        animation: bannermove 120s linear infinite;
    }

}

@layer components {

    ::selection {
        @apply bg-goldLight text-navy;
    }

    .flexCenter {
        @apply flex items-center justify-center gap-4;
    }

    section {
        @apply py-[6rem] md:py-[8rem] lg:py-[12rem] px-[1rem];
    }

    body {
        @apply text-navy;
    }

    .container {
        @apply mx-auto w-full 2xl:max-w-7xl;
    }

    * {
        scrollbar-width: thin;
        /* scrollbar-color: #E9C279 #FFFFF0; */
        scrollbar-color: #E9C279 #fffbf3;
    }
}